{
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "printWidth": 240,
  "jsxBracketSameLine": false,
  "trailingComma": "all",
  "useTabs": false
}